
.editor-wrapper {
  margin: .8rem;
  padding: .8rem;
  background: rgb(40, 44, 52);
  border-radius: .6rem;
  position: relative;
  -webkit-box-shadow: 7px -3px 42px -12px rgba(10,10,10,1);
  -moz-box-shadow: 7px -3px 42px -12px rgba(10,10,10,1);
  box-shadow: 7px -3px 42px -12px rgba(10,10,10,1);
}
.editor-label {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  font-family: Arial, serif;
  color: #a49a8d;
}
.npm__react-simple-code-editor__textarea {
  color: white !important;
}
.npm__react-simple-code-editor__textarea:focus {
  outline: none !important;
  border: none !important
}
