.rules_wrapper {
  position: fixed;
  right: -10rem;
  height: 100vh;
  width: 450px;
  overflow: scroll;
  max-width: 450px;
  margin: 1.5rem auto 0;
  padding-bottom: 5rem;
  padding-top: 4.7rem;
  background-color: rgb(142 136 136);
}

@media only screen and (max-width: 379px) {
  .rules_wrapper {
    width: 100%;
  }
}
.rule_bubble {
  background-color: rgb(38 39 43 / 79%);
  color: #c8cacd;
  font-size: 1em;
  line-height: 1.75;
  margin: 1rem 0;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}
.rule-meta {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #1d1c1c;
  padding: .4rem;
  font-size: 1.2rem;
  font-weight: bold;

}

@media only screen and (max-width: 480px) {
  .rule-meta {
    width: 100%;
  }
}
.meta-item {
  display: flex;
  flex-wrap: wrap;
}
.rule_bubble {
  border-right: 10px solid;
}
.rule_bubble p {
  margin: 8px 0 0 0;
}
.rule_bubble:hover {
  background-color: black;
}
.rule_bubble:nth-child(4n+1) {
  border-color: #56b273;
}
.rule_bubble:nth-child(4n+2) {
  border-color: #01AD9B;
}
.rule_bubble:nth-child(4n+3) {
  border-color: #b388dd;
}
.rule_bubble:nth-child(4n+4) {
  border-color: #ff8750;
}
.rule_bubble p:before {
  content: "“";
  font-family: Georgia;
  font-size: 40px;
  line-height: 0;
  margin-left: -10px;
  display: inline-block;
}
.rule_bubble.rule_preview{
  outline: 1px solid red;
  border-right: none;
  border-radius: .4rem;
  padding: .8rem;
  cursor: default;
}
.rule_bubble.rule_preview:hover{
  background-color: rgb(38 39 43 / 79%);
}
.rule_bubble.rule_preview p:before{
  font-size: 60px;
}
.rule-popup .title {
  color: var(--color-primary);
}
.rule-popup textarea {
  font-family: inherit;
  height: 10rem;
  width: 80rem;
  border-radius: .4rem;
}
@media only screen and (max-width: 768px) {
  .rule-popup textarea {
    width: 100%;
  }
}
