.editor-wrapper {
  cursor: pointer;
  margin: 1rem 0;
  border-radius: .5rem;
  position: relative;
  min-height: 100px;
  background: #f9f3e847;
  padding: 1rem;
  border: 1px solid #dedede;
}
.editor-wrapper:hover {
  border: 1px solid var(--theme-primary-color);
}
textarea.code-editor {
  cursor: pointer;
  height: auto;
  overflow: scroll;
  box-shadow: none !important;
}
textarea:focus {
  outline: none;
}
pre {
  max-height: none !important;
}
.list-item pre {
  max-height: 100px !important;
}
.editor-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 2rem;
}
.editor-header div {
  height: .6rem;
  width: .6rem;
  border-radius: 50%;
}
.red{
  background: #d63c15;
  margin-left: 4px;
}
.yellow {
  background: #e0bd0e;
  margin-left: 4px;
}
.green {
  background: #84cb2a;
  margin-left: 4px;
}
.editor-options {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.editor-options svg {
  margin: .3rem;
  font-size: 30px;
}
.option-lang {
  font-size: 14px;
  padding-left: .6rem;
}
