#menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  /*background-color: rgb(38 73 103 / 86%);*/
  background-color: var(--color-primary);
  box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.75);
  margin: 0 auto;
  height: 4.8rem;
  color: rgb(146 146 144 / 63%);
}
#menu .icon {
  margin: 8px 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  cursor: pointer;
  font-size: 35px;
  line-height: 25px;
  display: block;
}
.icon.active {
  color: #ffffff;
}
ul {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 0;
  text-align: center;
}
a {
  text-decoration: none;
}
