:root {
  --header-height: 2.5rem;
  --footer-height: 3rem;
}
.page {
  padding-bottom: var(--footer-height);
}
.page .header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: var(--header-height);
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bolder;
  background-color: rgb(38 73 103 / 50%);
}
.header .back-to {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 1.8rem;
}
.page .title {
  font-family: 'Gruppo', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
  padding: 0 1rem;
}
.page .content {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-top: var(--header-height);
}
.action-save {
  font-size: 2rem;
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  border-radius: 50%;
  background: #474545;
  padding: 1rem;
  opacity: 75%;
}
.action-save:hover {
  background: #969393;
}
.page .icon svg {
  cursor: pointer;
}

@import './insert-page.css';
