:root {
  --header-height: 2rem;
  --footer-height: 3rem;
}
.page .header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: var(--header-height);
  width: 100%;
  padding: 0;
  text-align: center;
  color: black;
  /*background-color: rgb(38 73 103 / 50%);*/
}
.page .content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: var(--header-height);
}
#page-insert .content {
  margin: 3rem auto 0;
}
.page .action-title {
  font-family: 'Gruppo', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
  padding: 0 1rem;
}
.page .action-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.page .icon svg {
  margin: 20px;
  cursor: pointer;
}
