:root {
  --header-height: 3rem;
  --footer-height: 4.8rem;
}
.page .header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: var(--header-height);
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bolder;
  background-color: var(--color-primary);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}
.header .back-to {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 1.8rem;
}
.page .content {
  display: flex;
  flex-wrap: wrap;
  padding: var(--header-height) 1rem var(--footer-height) 1rem;
}
.action-save {
  font-size: 2rem;
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  border-radius: 50%;
  background: #474545;
  padding: 1rem;
  opacity: 75%;
}
.action-save:hover {
  background: #969393;
}
.page .icon svg {
  cursor: pointer;
}
