textarea.snippet {
  resize: none;
  width: 100%;
  min-height: 15rem;
  color: #c18109 !important;
  font-family: 'Fira Code', Helvetica, Arial !important;
  padding: 1rem !important;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #f9f3e847 !important;
}
.post-layout--right {
  padding-right: 0;
}
