textarea.snippet {
  resize: none;
  width: 100%;
  min-height: 10rem;
  color: #c18109 !important;
  font-family: 'Fira Code', Helvetica, Arial !important;
  padding: 1rem !important;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #1d1c1c !important;
}
