.page__insert .page-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__insert form {
  width: 100%;
}
.page__insert textarea {
  min-height: 35rem;
}
