
.spinner {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 30px;
  border-radius: 5em;
  border-color: var(--theme-primary-color) transparent var(--theme-primary-color) transparent;
  animation: spin 1s linear infinite;
}

.dot:before, .dot:after {
  content: ".";
}
.dot {
  animation: fade 1s linear infinite;
}
.dot:after {
  animation: fade 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#wrap {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
}

.item {
  display: inline-block;
  padding: 0 5em;
}
