html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*transition: all 0s cubic-bezier(.5, .2, .2, .1);*/
  /*-webkit-transition: all .6s cubic-bezier(.5, .2, .2, .1);*/
  /*-moz-transition: all .6s cubic-bezier(.5, .2, .2, .1);*/
  /*-o-transition: all .6s cubic-bezier(.5, .2, .2, .1);*/
  color: #fff;
  background-image: url("https://images.unsplash.com/photo-1468434453985-b1ca3b555f00?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
  overflow: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

#menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  background-color: rgb(38 73 103 / 51%);
  margin: 0 auto;
}
#menu .icon {
  margin: 8px 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}
a {
  text-decoration: none;
}

#page-home {
  left: 0;
}

#page-play, #page-insert, #page-good, #page-bad {
  left: 200%;
}

:root {
  --color-one: #222629;
  --color-two: darkslateblue;
  --color-three: #c6833c;
  --color-four: #3a6405;
  --color-five: #FF652F;
}
/*#page-home { background: var(--color-four); }*/
/*#page-play { background: var(--color-four); }*/
/*#page-insert { background: var(--color-four); }*/
/*#page-good { background: var(--color-four); }*/
/*#page-bad { background: var(--color-four); }*/
#page-play .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#page-insert .content {
  margin: 3rem auto 0;
}
#play:target #page-play,
#insert:target #page-insert,
#good:target #page-good,
#bad:target #page-bad {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  /*transition-delay: .4s !important;*/
}

#play:target #page-home,
#insert:target #page-home,
#good:target #page-home,
#bad:target #page-home{
  background: #222629;
}

#play:target #page-home .icon,
#insert:target #page-home .icon,
#good:target #page-home .icon,
#bad:target #page-home .icon {
  -webkit-filter: blur(3px);
}

.icon {
  color: #fff;
  font-size: 30px;
  line-height: 25px;
  display: block;
}

.page .icon .title {
  line-height: 2;
}

#play:target ul .icon,
#insert:target ul .icon,
#good:target ul .icon,
#bad:target ul .icon{
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}

#play:target #dos,
#insert:target #tres,
#good:target #cuatro,
#bad:target #cinco {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}
ul {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 0;
  text-align: center;
}


.title {
  display: block;
}

.title {
  font-size: 38px;
}

#page-good .hint {
  display: inherit !important;
}

.line-trough {
  text-decoration: line-through;
}

.page .icon {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*bottom: 48px;*/
  /*font-size: 2.5rem;*/
  /*background-color: rgb(38 73 103 / 28%);*/
}
.page .action-title {
  font-family: 'Gruppo', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
  padding: 0 1rem;
}
.page .action-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.page .icon svg {
  margin: 20px;
  cursor: pointer;
}
.page .icon svg:hover {
  opacity: 50%;
}
.page#page-home .icon {
  /*height: 220px;*/
}

/*.page#page-home .icon {*/
/*  transform: translateX(0%) !important;*/
/*}*/

#play:target .page#page-play .icon,
#insert:target .page#page-insert .icon,
#good:target .page#page-good .icon,
#bad:target .page#page-bad .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}
