html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*transition: all 0s cubic-bezier(.5, .2, .2, .1);*/
  /*-webkit-transition: all .6s cubic-bezier(.5, .2, .2, .1);*/
  /*-moz-transition: all .6s cubic-bezier(.5, .2, .2, .1);*/
  /*-o-transition: all .6s cubic-bezier(.5, .2, .2, .1);*/
  color: #fff;
  overflow: hidden;
}

* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

.page {
  position: absolute;
}

#page-home {
  left: 0;
}

#page-play, #page-insert, #page-good, #page-bad {
  left: 200%;
}

#page-home { background: #222629; }
#page-play { background: darkslateblue; }
#page-insert { background: #c6833c; }
#page-good { background: #61892F; }
#page-bad { background: #FF652F; }

#play:target #page-play,
#insert:target #page-insert,
#good:target #page-good,
#bad:target #page-bad {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  /*transition-delay: .4s !important;*/
}

#play:target #page-home,
#insert:target #page-home,
#good:target #page-home,
#bad:target #page-home{
  background: #222629;
}

#play:target #page-home .icon,
#insert:target #page-home .icon,
#good:target #page-home .icon,
#bad:target #page-home .icon {
  -webkit-filter: blur(3px);
}

.icon {
  color: #fff;
  font-size: 40px;
  display: block;
}

ul .icon:hover {
  opacity: 0.5;
}

.page .icon .title {
  line-height: 2;
}

#play:target ul .icon,
#insert:target ul .icon,
#good:target ul .icon,
#bad:target ul .icon{
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}

#play:target #dos,
#insert:target #tres,
#good:target #cuatro,
#bad:target #cinco {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

ul {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  padding: 0;
  text-align: center;
}
#menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  background-color: rgb(255 255 255 / 25%);;
}
#menu .icon {
  margin: 20px 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}

a {
  text-decoration: none;
}

.title {
  display: block;
}

.title {
  font-size: 38px;
}

#page-good .hint {
  display: inherit !important;
}

.line-trough {
  text-decoration: line-through;
}

.page .icon {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 3em;
  opacity: 75%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.page .icon svg {
  margin: 20px 0;
}

.page#page-home .icon {
  /*height: 220px;*/
}

.page#page-home .icon {
  transform: translateX(0%) !important;
}

#play:target .page#page-play .icon,
#insert:target .page#page-insert .icon,
#good:target .page#page-good .icon,
#bad:target .page#page-bad .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}
.page .content {
  padding: 10px 20px 10px 70px;
}
